<ion-view>
  <ion-content class="padding img-responsive" style="background: url(../img/background.png)">
    <tab-slide-box>
      <div class="tsb-icons">
        <div class="tsb-ic-wrp">
          <ion-scroll class="tsb-hscroll" direction="x">
            <a href="javascript:;">La Chronique de Darryl</a>
          </ion-scroll>
        </div>
      </div>
      <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
        <ion-slide>
          <h1>Home content</h1>
        </ion-slide>
      </ion-slide-box>
    </tab-slide-box>
  </ion-content>
</ion-view>
