<ion-view>
  <ion-content class="padding img-responsive" style="background: url(../img/background.png)" scroll="false">
    <tab-slide-box>
      <div class="tsb-icons">
        <div class="tsb-ic-wrp">
          <ion-scroll class="tsb-hscroll" direction="x">
            <a href="javascript:;">Swaga</a>
            <a href="javascript:;" >Telenovas Actu</a>
            <a href="javascript:;" >Ludique</a>
            <a href="javascript:;" >Star of the Week</a>
            <a href="javascript:;" >Cinema Africain</a>
            <a href="javascript:;" >Masic</a>
          </ion-scroll>
        </div>
      </div>
      <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
        <ion-slide>
          <h3>Home content</h3>
        </ion-slide>
        <ion-slide>
          <h3>Home content</h3>
        </ion-slide>
        <ion-slide>
          <h3>Home content</h3>
        </ion-slide>
        <ion-slide>
          <h3>Home content</h3>
        </ion-slide>
        <ion-slide>
          <h3>Home content</h3>
        </ion-slide>
        <ion-slide>
          <h3>Home content</h3>
        </ion-slide>
      </ion-slide-box>
    </tab-slide-box>
  </ion-content>
</ion-view>
